<footer>
    <p>&copy; 2018 <a class="footer-link" href="https://sassonmag.com/" target="_blank">Sasson Magazine</a></p>
    <p>Website by Mottelz | Front End by <a class="footer-link" href="http://www.jessicaoddi.com" target="_blank">Jessica Oddi</a></p>
</footer>
<div id="up">
    <a href="#" class="button">&#9651;</a>
</div>
<script src="src/script.js" type="text/javascript"></script>