<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="author" content="jessica oddi" />
    <meta name="description" content="Reviewable Stories" />
    <meta name="keywords" content="" />
    <title><%= title %> | Sasson Writer's Workshop</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="src/site.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway|Roboto:300,500" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="src/html5shiv.min.js"></script>
    <![endif]-->
</head>