<nav>
    <div class="user-info">
        <h4>Welcome <span class="strong"><a href="my-stories.html" class="header-link"><%= User.fname %> <%= User.lname %></a></span>, you currently have <span class="strong"><%= User.points %></span> points.</h4>
    </div>
    <div class="stick">
        <div class="mobile-menu">
            <button class="mobile-button">
                <span class="open">Menu</span>
                <span class="exit">Exit Menu</span>
            </button>
        </div>
        <ul class="menu">
            <a href="index.html"><li class="menu-item">Home</li></a>
            <a href="my-stories.html"><li class="menu-item">My Stories</li></a>
            <a href="submit-story.html"><li class="menu-item">Submit Story</li></a>
            <a href="login.html"><li class="menu-item">Logout</li></a>
        </ul>
    </div>
</nav>