<!DOCTYPE html>
<html lang="en">
<body class="container">

<header>
    <h1>Error</h1>
</header>

<main>
    <div class="jumbotron">
        <h1>Error</h1>
        <p>Something went wrong</p>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>