<!doctype html>
<html lang="en">
<% include ../partials/head-login-signup.ejs %>
<body>
<main id="login">
    <h1><%= title %></h1>
    <p><%= message %></p>
    <p class="strong"><a class="link" href="/index">Go Home</a></p>
</main>
</body>
</html>