<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<% include ../partials/header %>

<main class="container" style="margin-top: 1%">
    <h1>Mottel</h1>
    <p>There is another story. I don't know what else to say. There was this guy and this other guy.</p>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>