<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<% include ../partials/header %>

<main class="container" style="margin-top: 1%">
    <h1>Mottel</h1>
    <p>There is another story. I don't know what else to say. There was this guy and this other guy.</p>
    <form method="post" action="/addUser">
        <div class="form-group">
            <label for="newName">Enter a secret</label>
            <input type="text" name="newName" class="form-control" placeholder="You know what you did">
        </div>
        <button type="submit" class="btn-primary btn">Tell Us</button>
    </form>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>