<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<% include ../partials/header %>

<main class="container" style="margin-top: 1%">
    <h1>Welcome!</h1>
    <p>This site is under construction.</p>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>