<!doctype html>
<html lang="en">
<% include ../partials/head-login-signup.ejs %>
<body>
<main id="signup">
    <h1>Sasson Writer's Workshop</h1>
    <!--<h2>With <span class="strong">0,000</span> Reviews on <span class="strong">0,000</span> Stories &amp; Counting</h2>-->
    <form>
        <input id="text-left" type="text" name="firstname" placeholder="first name" />
        <input id="text-right" type="text" name="lastname" placeholder="last name" />
        <input type="email" name="email" placeholder="e-mail address" />
        <input type="password" name="password" placeholder="password" />
        <input type="password" name="confirm" placeholder="confirm password" />
        <input type="submit" value="Signup" />
    </form>
    <p>Already a Member of Sasson Writer's Workshop?</p>
    <p class="strong"><a class="link" href="/">Login Here</a></p>
    <a class="button" href="/">Login</a>
</main>
</body>
</html>