<!doctype html>
<html lang="en">
<% include ../partials/head.ejs %>
<body>
<header>
    <h1>Sasson Writer's Workshop</h1>
</header>
<% include ../partials/nav.ejs %>
<main>
    <section class="section-header">
        <h2>Reviewable Stories</h2>
    </section>
</main>
<% include ../partials/footer.ejs%>
</body>
</html>